{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1 style="text-align:center;font-size:100px;">Basic Python Calculator</h1>
      {% if error %}
        <div class="alert alert-warning error alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
          <strong>{{ error }}</strong>
        </div>
      {% endif %}

  <div class="mb-3 row">
    <form action="/calculator" method="POST">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
        <div class="form-group name1 col-md-6">
            <label for="value1" class="formText"><b>Please enter Value 1 below:</b></label>
            <input type="text" class="form-control" id="value1" aria-describedby="emailHelp" name="value1" value="1">
        </div>

        <div class="form-group name2 col-md-6">
            <label for="value2" class="formText"><b>Please enter Value 2 below:</b></label>
            <input type="text" class="form-control" id="value2" aria-describedby="emailHelp" name="value2" value="2">
        </div>
        </div>
    </div>
        <br>
        <br>
        <fieldset class="buttonHolder">
        <legend style="font-size:35px">Calculator Operation</legend>
          <p style="font-size:15px;text-align: center;">
              Please select and operation from the below list and hit submit
          </p>
          <div>
            <input type="radio" name="operation" id="addition" value="addition" checked>
            <label for="addition"> Addition</label>
          </div>
          <div>
            <input type="radio" name="operation" id="subtraction" value="subtraction">
            <label for="subtraction"> Subtraction</label>
          </div>
          <div>
            <input type="radio" name="operation" id="multiplication" value="multiplication">
            <label for="multiplication"> Multiplication</label>
          </div>
          <div>
            <input type="radio" name="operation" id="division" value="division">
            <label for="division"> Division</label>
          </div>
        </fieldset>
        <br>
        <br>
        <br>
        <div class="buttonHolder">
<!--          <input value="Search" title="Search" type="submit" id="btn_s"> -->
<!--          <input value="I'm Feeling Lucky" title="I'm Feeling Lucky" name="lucky" type="submit" id="btn_i">-->
              <button style= "align-items: center" type="submit" class="btn btn-primary">Submit</button>
<!--              <button style= "align-items: center" type="clear_history" class="btn btn-primary">Clear History</button>-->
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
  </div>
{% endblock %}