{% extends "base.html" %}
{% block title %}Python{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <header class="bg-header text-center">
        <div class="container container--narrow">
            <h1 class="bg-header">Python</h1>
        </div>
    </header>

    <!-- Text container-->
    <section class="bg-accent">
        <div class="container">
            <h2 class = "text-center">What is Python?</h2>
            <div class="split">
                <div>
                    <img src="../static/images/python.png" alt="python" style="margin: auto;"/>
                </div>
                <div>
                    <p style="margin-top: 5px;">Python is a high-level object-oriented programming language that is comprised of interpreted language;
                        which are used to develop programs faster compared to a complied language such as C++ or Java. Python's simple and easy to learn syntax
                        emphasizes readability and therefore reduces the cost of program maintenance.  </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-accent">
        <div class="container">
            <h2 class = "text-center">What is Pylint?</h2>
            <div class="split">
                <div>
                    <img src="../static/images/pylint.png" alt="pylint" style="margin: auto;"/>
                </div>
                <div>
                    <p style="margin-top: 5px;"> Pylint is a tool that checks for errors in python code, it tries to implement a coding standard and looks out for errors.
                        Pylint also suggests recommendations about refactoring your codes for better application and provides details on code complexity, statistics,
                        and warnings  </p>
                </div>
            </div>
        </div>
    </section>

<!--<a href="/good/1.0/2.0">One Plus Two Good</a><br><a href="/bad/1/2">One Plus Two Bad</a>-->
{% endblock %}